$primary-background-color:#ffffff;
$secondary-background-color: #004D7B;
$tertiary-background-color: #F7CF44;

/*font*/
$base-font-family: 'Merriweather','Serif';
$secondary-font-family: 'Open sans','Sans Serif';
$tertiary-font-family:'Roboto Mono';
$display-font-family:'Abril Fatface';
$base-font-size:14px;
$base-line-height:24px;
$base-font-color: #004D7B;
$secondary-font-color: #ffffff;
$tertiary-font-color: #F7CF44;
$base-font-weight: 300;
$hover-font-color: $tertiary-background-color;







